#bodyPhotos{
  margin: 0 10%;
}

#groupPhotos{
  display: flex;
  justify-content:center;
 
}
#sectionConjPhotos{
  margin-bottom: 4rem;
}
img{
  width: 33%;
  padding: 3px;
  border: 1x solid transparent;
  border-radius: 6px;

}

h4{
  margin-bottom: .5rem;
  letter-spacing: .2rem;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color:#b2c6dd ;
  background:rgb(21, 33, 44) ;
  border: 1px solid transparent;
  border-radius: 10px;

  box-shadow:3px 2px 5px rgb(15, 24, 32) ;
}
a:hover{
  background: rgb(21, 33, 44) ;
}