button{
    padding: 3px;
    width: 5rem;
    height:1.7rem;
    border: 1px solid black;
    border-radius: 1rem;
    
}

#divMaster{
    width: 100%;
}

#apr1,#apr2,#apr3,#apr4{
    align-items: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
    width: 80%;
    display: flex;
}

#foto1{
    border: 1px solid rgb(41, 41, 41);
    width: 25%;
    height: 70%;
    border-radius: 3rem;
}

#texto1{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;

}

#sub2{
    text-align: center;
}
#lista1{
    width: 40%;
}
#foto2{
    border: 1px solid rgb(41, 41, 41);
   margin-left: 5%;
   margin-top: 1%;
   width: 40%;
   border-radius: 3rem;
}
#texto1, #texto2{
    margin-left: 20px;
    font-size: 93%;

}

#texto2{
    text-align:center;
}

#apr3{
   
    align-items: center;
}
#foto3{
    border: 1px solid rgb(41, 41, 41);
    width: 27%;
    border-radius: 3rem;
}
#apr4{
    
    align-items: center;
   
}
#foto4{
    border: 1px solid rgb(41, 41, 41);
    margin-left: 5%;
    width: 40%;
    height: 60%;
    border-radius: 3rem;
}

